<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.privacykeyboard.app">

    <!-- No INTERNET permission declared, keyboard has zero network access -->
    <!-- VIBRATE is only used when the user turns on "Vibrate on keypress" in Preferences -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/Theme.BlockVeil"
        android:allowBackup="false">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.BlockVeil">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsMenuActivity"
            android:exported="false"
            android:theme="@style/Theme.BlockVeil" />

        <activity
            android:name=".SettingsSectionActivity"
            android:exported="false"
            android:theme="@style/Theme.BlockVeil" />

        <activity
            android:name=".InfoActivity"
            android:exported="false"
            android:theme="@style/Theme.BlockVeil" />

        <activity
            android:name=".AdvancedSettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.BlockVeil" />

        <activity
            android:name=".AppearanceSettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.BlockVeil" />

        <service
            android:name=".PrivacyInputMethodService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_INPUT_METHOD"
            android:exported="true">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

    </application>
</manifest>
